.FilterInput {
  transition: box-shadow 300ms ease-in 300ms;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.1);
}
.FilterInput.focus,
.FilterInput:focus {
  transition: box-shadow 300ms;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15),
              0 0 0 1px rgba(0,0,0,0.05);
}

.FilterTagBody {
  height: 2.1em;
  margin-right: 0.5em;
}
.FilterTagBody:last-child {
  margin-right: 0;
}
.FilterTag {
  transition: transform 200ms ease-in, opacity 200ms ease-in;
  transform: translateX(-20px);
  opacity: 0;
  cursor: default;
  padding: 0.5em 1em;
  border-radius: 2px;
  background: #ddd;
  position: absolute;
}
.FilterTag.show {
  opacity: 1;
  transform: translateX(0px);
}
.FilterTags {
  display: flex;
  position: absolute;
  height: 4.1em;
  align-items: center;
  right: 2em;
}

.FilterDropdown {
  transition:
    height 300ms,
    box-shadow 300ms,
    opacity 200ms ease-out 400ms,
    top 300ms ease-out 300ms;
  top: 1em;
  z-index: -1;
  width: calc(50% - 2em);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 1px;
  opacity: 0;
  height: 4.1em;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.1);
}
.FilterDropdown > div {
  box-sizing: border-box;
}
.FilterDropdown.openResults {
  transition:
    height 200ms ease-out 400ms,
    box-shadow 300ms ease-out 500ms,
    opacity 200ms,
    top 300ms ease-in 150ms;
  top: calc(100% - 0.5em);
  opacity: 1;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15),
              0 0 0 1px rgba(0,0,0,0.05);
}

.FilterResults {
  transition: padding 200ms ease-out 400ms, opacity 200ms;
  padding: 1em;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  opacity: 0;
}

.FilterResults {
  flex-direction: column;
  overflow-y: auto;
  padding-left: 0;
  padding-right: 0;
}

.FilterDropdown.openResults {
  height: 16.4em;
}
.FilterDropdown.openTags.openResults  .FilterResults {
  padding-top: 0;
}

.FilterDropdown.openResults .FilterResults {
  transition: padding 200ms ease-out 400ms, opacity 300ms ease-in 400ms;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  opacity: 1;
}

.FilterResultBody {
  transition: background 20ms,
    height 300ms ease-out 300ms,
    padding 300ms ease-out 300ms;
  background: transparent;
  padding: 0.75em 2em;
  flex-shrink: 0;
  height: 1.2em;
  overflow-x: hidden;
}
.FilterResultBody.focus,
.FilterResultBody:hover {
  background: rgba(0,0,0,0.04);
}
.FilterResultBody.remove {
  transition: background 20ms, height 0, padding 300ms;
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
}
.FilterResult {
  transition: transform 300ms ease-in 300ms, opacity 300ms ease-in 400ms;
  transform: translateX(0);
  opacity: 1;
}
.FilterResultBody.remove .FilterResult {
  transition: transform 300ms, opacity 300ms;
  transform: translateX(100px);
  opacity: 0;
}
