/storybook-static
/src
/static
/scripts
/stories
/node_modules
/images
/coverage
/config
/.storybook

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

yarn-debug.log*
yarn-error.log*
